<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>Login</title>
</head>

<body>
    <header class="p-3 text-bg-dark container-header">
        <div class="row">
            <div class="col-9">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="index.html" class="nav-link px-2 text-secondary tracking-in-expand">Inicio</a></li>
                    <li><a href="productosList.html" class="nav-link px-2 text-white tracking-in-expand"><i
                                class="bi bi-shop"></i> Productos</a></li>
                    <li><a href="listaDeseos.html" class="nav-link px-2 text-white tracking-in-expand"><i
                                class="bi bi-bag-heart"></i> Mi Lista de deseos</a></li>
                    <li><a href="comentariosList.html" class="nav-link px-2 text-white tracking-in-expand"><i
                                class="bi bi-list-stars"></i> Comentarios</a></li>
                    <li><a href="userList.html" class="nav-link px-2 text-white tracking-in-expand"><i
                                class="bi bi-people-fill"></i> Usuarios</a></li>
                </ul>

            </div>
            <div class="col-auto">
                <a href="login.html" class="btn btn-outline-light">Iniciar Sesion</a> |
                <a href="registro.html" class="btn btn-warning">Registrate</a>
            </div>
        </div>
        <div class="container">
        </div>
        </div>
    </header>
<section class="m-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="https://images.pexels.com/photos/4465124/pexels-photo-4465124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="producto 1">
                    </div>
                </a>
                <div class="info-container">
                    <h3>Crema verde</h3>
                    <strong>$60</strong>
                    <span class="rating">★★★★☆</span>
                    <a href="#" class="add-cart">Añadir a las lista de deseos</a><br>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="https://images.pexels.com/photos/4202924/pexels-photo-4202924.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="producto 1">
                    </div>
                </a>
                <div class="info-container">
                    <h3>Jabón de baño</h3>
                    <strong>$30.000</strong>
                    <span class="rating">★★★☆☆</span>
                    <a href="#" class="add-cart">Añadir a la lista de deseos</a><br>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="https://images.pexels.com/photos/4465830/pexels-photo-4465830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="producto 1">
                    </div>
                </a>
                <div class="info-container">
                    <h3>Aceite rejuvenecedor</h3>
                    <strong>$120.000</strong>
                    <span class="rating">★★★★★</span>
                    <a href="#" class="add-cart">Añadir a la lista de deseos</a><br>
                </div>
            </div>
        </div>
    </div>
</section>
   



  





    <footer class="container-fluid bg-dark fixed-bottom p-3 container-footer">
        <div class="row">
            <div class="col-md text-light text-end">
                <h5 class="tracking-in-expand">&copy; Equipo 7 - Ciclo 3</h5>
            </div>
        </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</body>

</html>